DISCORD_TOKEN=
TRELLO_KEY=
TRELLO_TOKEN=
ANTHROPIC_API_KEY=
ALLOWED_GUILD_ID=
# Kanal dla codziennego !discovery (07:30, Agnieszka + Szymon)
DISCOVERY_CHANNEL_ID=
SOWA_COMMAND_URL=
SOWA_COMMAND_SECRET=

# Google OAuth2 (client_id/secret + refresh_token dla konta z dostepem do arkusza/dokow/folderu)
# Wymagane scope'y: https://www.googleapis.com/auth/spreadsheets
#                   https://www.googleapis.com/auth/documents
#                   https://www.googleapis.com/auth/drive
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=

# Baza skryptow reklamowych ITM (komenda !skrypt)
GOOGLE_SCRIPTS_SHEET_ID=1LboeiKQeRg_d34yaaBqCKWgmWJDUjiEq9WA97GZCVB8
GOOGLE_SCRIPT_TEMPLATE_DOC_ID=1uHbJ0p-DCpLkJMRyRw6x6tW8b6yPe14kZ6Nz0rYoyEI
GOOGLE_SCRIPTS_DRIVE_FOLDER_ID=1SHwba_3PoOUy_BPZFHaRro2v0tLSKZzE
